In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.0'

In [7]:
# read data from parquet file to pandas dataframe
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [12]:
# import SQLAlchemy to access and manage SQL databases using Python
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
# Print the DDL (language used for creating and modifying database objects such as tables, users, etc.)
# syntax for creating a new database table to store taxi data using schema inferred from dataframe
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [14]:
# Create table with no rows. Replace table if it already exists in the database
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
# Insert data from dataframe into postgres database, 100000 rows at a time
import pyarrow.parquet as pq
from time import time

taxi_data = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

for batch in taxi_data.iter_batches(batch_size=100000):
    t_start = time()
    batch_df = batch.to_pandas()
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.917 second
inserted another chunk..., took 21.063 second
inserted another chunk..., took 96.434 second
inserted another chunk..., took 28.931 second
inserted another chunk..., took 27.415 second
inserted another chunk..., took 26.248 second
inserted another chunk..., took 30.787 second
inserted another chunk..., took 34.719 second
inserted another chunk..., took 49.281 second
inserted another chunk..., took 43.943 second
inserted another chunk..., took 36.652 second
inserted another chunk..., took 31.033 second
inserted another chunk..., took 27.675 second
inserted another chunk..., took 18.249 second